# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/
.venv/
.env/

# Flask-related files
instance/
*.db
*.sqlite3
*.log

# Config files (may contain sensitive data)
config.py

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Dependency directory (if you're using pipenv)
Pipfile.lock

# Deployment related
*.env


# Node.js (for front-end dependencies)
node_modules/

# Other sensitive or temporary files
*.bak
*.swp
